@font-face {
    font-family: "FVFFernando08";
    src: url('../assets/fonts/FVFFernando08.eot'); /* IE9 Compat Modes */
    src: url("../assets/fonts/FVFFernando08.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../assets/fonts/FVFFernando08.otf") format("opentype"), /* Open Type Font */
    url("../assets/fonts/FVFFernando08.svg") format("svg"), /* Legacy iOS */
    url("../assets/fonts/FVFFernando08.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../assets/fonts/FVFFernando08.woff") format("woff"), /* Modern Browsers */
    url("../assets/fonts/FVFFernando08.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

.level {
    position: absolute;
    left: 21%;
    top: 30%;
    font-size: 18px;
}

#level {
    position: absolute;
    top: 37%;
    left: 22.5%;
}

#game-canvas {
    border: 1px solid black;
    background-image: url("https://media2.giphy.com/media/ZrlFjwhclknWE/source.gif");
}

.container {
    text-align: center;
}

body {
    font-family: 'FVFFernando08', serif;
    font-size: 10px;
    /*background-color: #595959;*/
    background-image: url("https://i.pinimg.com/736x/bb/9e/64/bb9e6413e813b1df8894611f53022c40.jpg");
    color: white;
}

p {
    text-align: center;
    font-size: 14px;
}

h2 {
    text-align: center;
}

button {
    font-family: 'FVFFernando08', serif;
    position: absolute;
    top: 14%;
    left: 21%;
}

table {
    position: absolute;
    top: 12%;
    left: 73%;
    border: 1px solid white;
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
    background: rgba(0,0,0,0.5);
}

thead {
    font-weight: bold;
    text-align: center;
}

td {
    border: 1px solid white;
    width: 150px;
    padding: 6px;
}

caption {
    padding: 8px;
    font-size: 16px;
}

pre {
    font-size: 13px;
}